{% extends "base.html" %}
{% block title %} - Register{% endblock %}
{% block content %}
    <h1>Регістрація</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Логін" value="{{ request.POST.username|default:'' }}" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <input type="password" name="password_confirm" placeholder="Підтвердіть пароль" required>
        <button type="submit">Зареєструватися</button>
    </form>
    <p>Вже маєте акаунт? <a href="{% url 'login' %}">Авторизуйтесь тут</a></p>
{% endblock %}